<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    名称：<%= f.text_field :title, :class => "input_1" %>
  </div>
  <div class="field">
    题图：<%= f.file_field :image, :class => "input_1" %>
  </div>
  <div class="field">
    描述：<%= f.text_field :description %>
  </div>
  <div class="btn_box">
    <%= f.submit "保存", :class => "btn_2" %>
  </div>
<% end %>
