<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="fields">
      <div class="field field-first">
        <div class="label">
          <label>名称</label>
        </div>
        <div class="input">
          <%= f.text_field :title, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>题图</label>
        </div>
        <div class="input input-file">
          <%= f.file_field :image, { :size => "40" } %>
        </div>
      </div>
      <div class="field">
        <div class="label label-textarea">
          <label>描述</label>
        </div>
        <div class="textarea">
          <%= f.text_area :description, :rows => 8, :cols => 50 %>
        </div>
      </div>
      <div class="buttons">
        <input type="submit" name="submit" value="保存" />
      </div>
    </div>
  </div>
<% end %>