<% content_for :submenu do %>
  <%= render :partial => "layouts/submenu_channels" %>
<% end %>

<div class="list_1">
  <div class="list_title">
    <div class="list_title_left">所有频道</div>
    <div class="list_title_right"></div>
  </div>
  <div class="tab_content">
    <table width="100%" border="1" cellpadding="0" cellspacing="0" class="table1">
      <thead>
        <tr>
          <th>序号</th>
          <th>名称</th>
          <th>Follow</th>
          <th>活动数</th>
          <th>说明</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <% @channels.each do |channel| %>
        <tr>
          <td><%= channel.id %></td>
          <td><%= channel.title %></td>
          <td><%= channel.follow %></td>
          <td><%= channel.activities.count %></td>
          <td><%= channel.description %></td>
          <td>
            <%= link_to '详情', channel %>
            <%= link_to '活动', :controller => 'activities', :action => 'index', :channel_id => channel.id %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>