<div class="box">
    <div class="title">
        <h5>所有频道</h5>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                  <th>序号</th>
                  <th>名称</th>
                  <th>Follow</th>
                  <th>活动数</th>
                  <th>说明</th>
                  <th class="last">操作</th>
                </tr>
            </thead>
            <tbody>
            <% @channels.each do |channel| %>
              <tr>
                <td><%= channel.id %></td>
                <td><%= channel.title %></td>
                <td><%= channel.follow %></td>
                <td><%= channel.activities.count %></td>
                <td><%= channel.description %></td>
                <td class="last">
                  <%= link_to '编辑', edit_channel_path(channel) %>
                  <%= link_to '活动', :controller => 'activities', :action => 'index', :channel_id => channel.id %>
                </td>
              </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>