<div class="list_1">
  <div class="list_title">
    <div class="list_title_left">频道列表 <%= link_to '[创建]', new_channel_path, { :class => 'screenshot' } %></div>
    <div class="list_title_right"></div>
  </div>
  <div class="tab_content">
    <table width="100%" border="1" cellpadding="0" cellspacing="0" class="table1">
      <thead>
        <tr>
          <th width="100">序号</th>
          <th width="400">名称</th>
          <th width="400">Follow</th>
          <th width="200">说明</th>
          <th width="200">操作</th>
        </tr>
      </thead>
      <tbody>
      <% @channels.each do |channel| %>
        <tr>
          <td><%= channel.id %></td>
          <td><%= channel.title %></td>
          <td><%= channel.follow %></td>
          <td><%= channel.description %></td>
          <td>
            <%= link_to '详情', channel %>
            <%= link_to '活动', :controller => 'activities', :action => 'index', :channel_id => channel.id %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>