<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @channel.title %>
</p>

<p>
  <b>Follow:</b>
  <%= @channel.follow %>
</p>

<p>
  <b>Description:</b>
  <%= @channel.description %>
</p>


<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
