<h1>Listing club_news</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Source</th>
    <th>Summary</th>
    <th>Context</th>
    <th>Read</th>
    <th>Like</th>
    <th>Favorite</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @club_news.each do |club_news| %>
  <tr>
    <td><%= club_news.title %></td>
    <td><%= club_news.source %></td>
    <td><%= club_news.summary %></td>
    <td><%= club_news.context %></td>
    <td><%= club_news.read %></td>
    <td><%= club_news.like %></td>
    <td><%= club_news.favorite %></td>
    <td><%= club_news.admin_id %></td>
    <td><%= link_to 'Show', club_news %></td>
    <td><%= link_to 'Edit', edit_club_news_path(club_news) %></td>
    <td><%= link_to 'Destroy', club_news, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Club news', new_club_news_path %>
