<div class="box">
    <div class="title">
        <h5>查看资讯</h5>
    </div>
    <div class="table">
        <table>
          <tr>
            <td>标题</td>
            <td class="last"><%= @club_news.title %></td>
          </tr>
          <tr>
            <td>来源</td>
            <td class="last"><%= @club_news.source %></td>
          </tr>
          <tr>
            <td>发布时间</td>
            <td class="last"><%= @club_news.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          </tr>
          <tr>
            <td>阅读次数</td>
            <td class="last"><%= @club_news.read %></td>
          </tr>
          <tr>
            <td>收藏次数</td>
            <td class="last"><%= @club_news.favorite %></td>
          </tr>
          <tr>
            <td>喜欢次数</td>
            <td class="last"><%= @club_news.like %></td>
          </tr>
          <tr>
            <td>摘要</td>
            <td class="last"><%= @club_news.summary %></td>
          </tr>
          <tr>
            <td>内容</td>
            <td class="last"><%= @club_news.context %></td>
          </tr>
          <% @club_news.club_news_images.each do |image| %>
          <tr>
            <td>图片</td>
            <td class="last"><%= image_tag image.file.url(:medium) %></td>
          </tr>
          <% end %>
          <tr>
            <td>是否可见</td>
            <td class="last"><%= @club_news.visiable ? "可见" : "不可见" %></td>
          </tr>
          <% if @club_news.is_pending %>
          <tr>
            <td>原因</td>
            <td class="last">需要审核,原因:<%= @club_news.pending_reason %></td>
          </tr>
          <% end %>
        </table>
        <% if @club_news.is_pending && (can? :approve, @club_news) %>
        <%= form_tag(club_news_approve_path(:id => @club_news.id), :method => "post") do %>
        <div class="action">
          <div class="button">
            <input type="submit" name="status" onclick="return window.confirm('审核通过?');" value="审核通过" />
          </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>

