<h1>Listing time_tables</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_tables.each do |time_table| %>
  <tr>
    <td><%= time_table.user_id %></td>
    <td><%= link_to 'Show', time_table %></td>
    <td><%= link_to 'Edit', edit_time_table_path(time_table) %></td>
    <td><%= link_to 'Destroy', time_table, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Time table', new_time_table_path %>
