<div class="box">
    <div class="title">
        <h5>修改管理员</h5>
    </div>
    <div class="table">
	<%= form_for(@admin) do |f| %>
	<div class="form">
    <div class="fields">
    	<% if can? :manage, :Admin %>
      <div class="field field-first">
        <div class="label">
          <label>邮箱</label>
        </div>
        <div class="input">
        	<%= f.text_field :email, :class => "small" %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>角色</label>
        </div>
        <div class="select">
        	<%= f.select :role, { "超级管理员" => "SuperAdmin" , "新闻管理员" => "NewsAdmin", "社团管理员" => "OrganizerAdmin", "功能管理员" => "FunctionAdmin", "资讯管理员" => "InfoAdmin" } %>
        </div>
      </div>
      <% end %>
      <div class="field">
        <div class="label">
          <label>密码</label>
        </div>
        <div class="input">
        	<%= f.password_field :password, :class => "small" %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>确认</label>
        </div>
        <div class="input">
        	<%= f.password_field :password_confirmation, :class => "small" %>
        </div>
      </div>

      <div class="buttons">
        <input type="submit" name="submit" value="保存" />
      </div>
    </div>
  </div>
	<% end %>

    </div>
</div>