<div class="box">
    <div class="title">
        <h5>所有管理员</h5>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                  <th>Email</th>
                  <th>登陆次数</th>
                  <th>角色</th>
                  <th>最后登陆时间</th>
                  <th>最后登陆IP</th>
                  <th class="last">操作</th>
                </tr>
            </thead>
            <tbody>
              <% @admins.each do |admin| %>
              <tr>
                  <td><%= admin.email %></td>
                  <td><%= admin.sign_in_count %></td>
                  <td>
                    <%= role_name(admin.role) %>
                    <% if role_name(admin.role) == "组织管理员" %>
                    (<%= admin.organizer.nil? ? "未指定组织" : admin.organizer.name %>)
                    <% end %>
                  </td>
                  <td><%= admin.last_sign_in_at.nil? ? "" : admin.last_sign_in_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
                  <td><%= admin.last_sign_in_ip %></td>
                  <td class="last">
                      <% if can? :edit, admin %>
                      <%= link_to '详情', admin %>
                      <%= link_to '编辑', edit_admin_path(admin) %>
                      <% if can? :manage, Admin %>
                      <%= link_to '删除', edit_admin_path(admin) %>
                      <%= link_to '停用/启用', edit_admin_path(admin) %>
                      <% end %>
                      <% end %>
                  </td>
              </tr>
              <% end %>
            </tbody>
        </table>
        <%= paginate @admins %>
    </div>
</div>