<% @title = "管理员" %>
<% @description = "系统管理员" %>
<% @controller = "管理员" %>
<% @action = "详情" %>

<div class="portlet box light-grey">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>管理员</div>
    </div>
    <div class="portlet-body form">

      <div class="form-horizontal form-view">

        <div class="row-fluid">
            <div class="span6">
              <%= render 'shared/column_show', :name => "邮箱", :content => @admin.email %>
            </div>
            <div class="span6">
              <%= render 'shared/column_show', :name => "角色", :content => role_name(@admin.role) %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
              <%= render 'shared/column_show', :name => "创建时间", :content => @admin.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
            </div>
            <div class="span6">
              <%= render 'shared/column_show', :name => "确认时间", :content => @admin.confirmed_at.nil? ? "" : @admin.confirmed_at.strftime("%Y/%m/%d %H:%M:%S") %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
              <%= render 'shared/column_show', :name => "审批时间", :content => @admin.approved_at.nil? ? "" : @admin.approved_at.strftime("%Y/%m/%d %H:%M:%S") %>
            </div>
            <div class="span6">
              <%= render 'shared/column_show', :name => "登陆次数", :content => @admin.sign_in_count %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "名称", :content => @admin.display %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "简介", :content => @admin.description %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
              <%= render 'shared/column_show', :name => "姓名", :content => @admin.name %>
            </div>
            <div class="span6">
              <%= render 'shared/column_show', :name => "学号", :content => @admin.student_no %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
              <%= render 'shared/column_show', :name => "职位", :content => @admin.title %>
            </div>
            <div class="span6">
              <%= render 'shared/column_show', :name => "手机", :content => @admin.phone %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "地址", :content => @admin.address %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "地址", :content => @admin.address %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "图标", :content => image_tag(@admin.icon.url(:medium)) %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "背景", :content => image_tag(@admin.background.url(:medium)) %>
            </div>
        </div>

        <div class="form-actions">
          <%= link_to "更新资料", edit_admin_path(@admin), { :class => "btn light-grey"} %>        </div>
      </div>
    </div>
</div>