<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Job title</th>
    <th>Words</th>
    <th>Title</th>
    <th>Description</th>
    <th>Read</th>
    <th>Like</th>
    <th>Favorite</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.job_title %></td>
    <td><%= person.words %></td>
    <td><%= person.title %></td>
    <td><%= person.description %></td>
    <td><%= person.read %></td>
    <td><%= person.like %></td>
    <td><%= person.favorite %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
