<div class="box">
    <div class="title">
        <h5>查看济人</h5>
    </div>
    <div class="table">
        <table>
          <tr>
            <td>姓名</td>
            <td class="last"><%= @person.name %></td>
          </tr>
          <tr>
            <td>学号</td>
            <td class="last"><%= @person.student_no %></td>
          </tr>
          <tr>
            <td>编号</td>
            <td class="last"><%= @person.no %></td>
          </tr>
          <tr>
            <td>职务</td>
            <td class="last"><%= @person.job_title %></td>
          </tr>
          <tr>
            <td>照片</td>
            <td class="last">
              <%= image_tag @person.avatar.url(:medium) %>
            </td>
          </tr>
          <tr>
            <td>标题</td>
            <td class="last"><%= @person.title %></td>
          </tr>
          <tr>
            <td>声音</td>
            <td class="last"><%= @person.words %></td>
          </tr>
          <tr>
            <td>发布时间</td>
            <td class="last"><%= @person.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          </tr>
          <tr>
            <td>阅读次数</td>
            <td class="last"><%= @person.read %></td>
          </tr>
          <tr>
            <td>收藏次数</td>
            <td class="last"><%= @person.favorite %></td>
          </tr>
          <tr>
            <td>喜欢次数</td>
            <td class="last"><%= @person.like %></td>
          </tr>
          <tr>
            <td>说明</td>
            <td class="last"><%= @person.description %></td>
          </tr>
          <% @person.person_images.each do |image| %>
          <tr>
            <td>图片</td>
            <td class="last">
              <%= image.title %><br />
              <%= image_tag image.file.url(:medium) %>
            </td>
          </tr>
          <% end %>
        </table>
    </div>
</div>

