<div class="box">
    <div class="title">
        <h5>所有学生</h5>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>学院</th>
                    <th>专业</th>
                    <th>学制</th>
                    <th>性别</th>
                    <th>生日</th>
                    <th>入学年份</th>
                    <th>邮箱</th>
                    <th class="last">操作</th>
                </tr>
            </thead>
            <tbody>
                <% @students.each do |student| %>
                <tr>
                    <td><%= student.no %></td>
                    <td><%= student.name %></td>
                    <td><%= student.department %></td>
                    <td><%= student.major %></td>
                    <td><%= student.plan %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.birthday.strftime("%Y/%m/%d") %></td>
                    <td><%= student.year %></td>
                    <td><%= student.email %></td>
                    <td class="last">
                        <%= link_to '详情', student %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @students %>
    </div>
</div>