<%= form_for(@sensitive) do |f| %>
  <% if @sensitive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensitive.errors.count, "error") %> prohibited this sensitive from being saved:</h2>

      <ul>
      <% @sensitive.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
