<h1>Listing sensitives</h1>

<table>
  <tr>
    <th>Word</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sensitives.each do |sensitive| %>
  <tr>
    <td><%= sensitive.word %></td>
    <td><%= link_to 'Show', sensitive %></td>
    <td><%= link_to 'Edit', edit_sensitive_path(sensitive) %></td>
    <td><%= link_to 'Destroy', sensitive, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sensitive', new_sensitive_path %>
