<%= form_for(@api_log) do |f| %>
  <% if @api_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_log.errors.count, "error") %> prohibited this api_log from being saved:</h2>

      <ul>
      <% @api_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :v %><br />
    <%= f.text_field :v %>
  </div>
  <div class="field">
    <%= f.label :d %><br />
    <%= f.text_field :d %>
  </div>
  <div class="field">
    <%= f.label :m %><br />
    <%= f.text_field :m %>
  </div>
  <div class="field">
    <%= f.label :u %><br />
    <%= f.text_field :u %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
