<h1>Listing api_logs</h1>

<table>
  <tr>
    <th>V</th>
    <th>D</th>
    <th>M</th>
    <th>U</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_logs.each do |api_log| %>
  <tr>
    <td><%= api_log.v %></td>
    <td><%= api_log.d %></td>
    <td><%= api_log.m %></td>
    <td><%= api_log.u %></td>
    <td><%= link_to 'Show', api_log %></td>
    <td><%= link_to 'Edit', edit_api_log_path(api_log) %></td>
    <td><%= link_to 'Destroy', api_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Api log', new_api_log_path %>
