<p id="notice"><%= notice %></p>

<p>
  <b>V:</b>
  <%= @api_log.v %>
</p>

<p>
  <b>D:</b>
  <%= @api_log.d %>
</p>

<p>
  <b>M:</b>
  <%= @api_log.m %>
</p>

<p>
  <b>U:</b>
  <%= @api_log.u %>
</p>


<%= link_to 'Edit', edit_api_log_path(@api_log) %> |
<%= link_to 'Back', api_logs_path %>
