<div class="box">
    <div class="title">
        <h5>查看资讯</h5>
    </div>
    <div class="table">
        <table>
          <tr>
            <td>标题</td>
            <td class="last"><%= @information.title %></td>
          </tr>
          <tr>
            <td>来源</td>
            <td class="last"><%= @information.source %></td>
          </tr>
          <tr>
            <td>题图</td>
            <td class="last"><%= image_tag @information.image.url(:medium) %></td>
          </tr>
          <tr>
            <td>发布时间</td>
            <td class="last"><%= @information.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          </tr>
          <tr>
            <td>类别</td>
            <td class="last"><%= @information.category %></td>
          </tr>
          <tr>
            <td>联系人</td>
            <td class="last"><%= @information.contact %></td>
          </tr>
          <tr>
            <td>阅读次数</td>
            <td class="last"><%= @information.read %></td>
          </tr>
          <tr>
            <td>收藏次数</td>
            <td class="last"><%= @information.favorite %></td>
          </tr>
          <tr>
            <td>喜欢次数</td>
            <td class="last"><%= @information.like %></td>
          </tr>
          <tr>
            <td>摘要</td>
            <td class="last"><%= @information.summary %></td>
          </tr>
          <tr>
            <td>内容</td>
            <td class="last"><%= @information.context %></td>
          </tr>
          <tr>
            <td>来源</td>
            <td class="last"><%= @information.addition %></td>
          </tr>
          <tr>
            <td>位置</td>
            <td class="last"><%= @information.location %></td>
          </tr>
          <% @information.information_images.each do |image| %>
          <tr>
            <td>图片</td>
            <td class="last"><%= image_tag image.file.url(:medium) %></td>
          </tr>
          <% end %>
          <tr>
            <td>是否可见</td>
            <td class="last"><%= @information.visiable ? "可见" : "不可见" %></td>
          </tr>
          <% if @information.is_pending %>
          <tr>
            <td>原因</td>
            <td class="last">需要审核,原因:<%= @information.pending_reason %></td>
          </tr>
          <% end %>
        </table>
        <% if @information.is_pending && (can? :approve, @information) %>
        <%= form_tag(information_approve_path(:id => @information.id), :method => "post") do %>
        <div class="action">
          <div class="button">
            <input type="submit" name="status" onclick="return window.confirm('审核通过?');" value="审核通过" />
          </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>

