<%= form_for(@around) do |f| %>
  <% if @around.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@around.errors.count, "error") %> prohibited this around from being saved:</h2>

      <ul>
      <% @around.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :context %><br />
    <%= f.text_field :context %>
  </div>
  <div class="field">
    <%= f.label :read %><br />
    <%= f.number_field :read %>
  </div>
  <div class="field">
    <%= f.label :like %><br />
    <%= f.number_field :like %>
  </div>
  <div class="field">
    <%= f.label :favorite %><br />
    <%= f.number_field :favorite %>
  </div>
  <div class="field">
    <%= f.label :admin_id %><br />
    <%= f.number_field :admin_id %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :ticket_service %><br />
    <%= f.text_field :ticket_service %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
