<div class="box">
    <div class="title">
        <h5>所有周边推荐</h5>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                  <th>标题</th>
                  <th>发布时间</th>
                  <th>阅读次数</th>
                  <th>账号</th>
                  <th class="last">操作</th>
                </tr>
            </thead>
            <tbody>
              <% @arounds.each do |item| %>
              <tr class="<%= item.is_pending ? "selected" : "" %>">
                  <td><%= item.title %></td>
                  <td><%= item.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
                  <td><%= item.read %></td>
                  <td>
                      <%= item.admin.display.blank? ? item.admin.email : item.admin.display %>
                  </td>
                  <td class="last">
                      <%= link_to '详情', item %>
                      <%= link_to '编辑', edit_around_path(item) %>
                      <%= link_to '删除', item, confirm: '确认删除?', method: :delete %>
                  </td>
              </tr>
              <% end %>
            </tbody>
        </table>
        <%= paginate @arounds %>
    </div>
</div>

