<% @title = "周边推荐" %>
<% @description = "校园周边推荐" %>
<% @controller = "资讯" %>
<% @action = "周边推荐" %>

<div class="portlet box light-grey">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>查看资讯</div>
    </div>
    <div class="portlet-body form">

      <div class="form-horizontal form-view">

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "标题", :content => @around.title %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
              <%= render 'shared/column_show', :name => "发布时间", :content => @around.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
            </div>
            <div class="span6">
              <%= render 'shared/column_show', :name => "来源", :content => @around.source %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "摘要", :content => @around.summary %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "摘要", :content => @around.context %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "票务信息", :content => @around.ticket_service %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "联系方式", :content => @around.contact %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "位置", :content => @around.location %>
            </div>
        </div>

        <% @around.information_images.each do |image| %>
        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "图片", :content => image_tag(image.file.url(:medium)) %>
            </div>
        </div>
        <% end %>

        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "是否可见", :content => @around.visiable ? "可见" : "不可见" %>
            </div>
        </div>

        <% if @around.is_pending %>
        <div class="row-fluid">
            <div class="span12">
              <%= render 'shared/column_show', :name => "原因", :content => @around.pending_reason %>
            </div>
        </div>
        <% end %>

        <div class="form-actions">
          <%= link_to "更新资料", edit_around_path(@around), { :class => "btn light-grey"} %>
          <% if @around.is_pending && (can? :approve, @around) %>
          <%= form_tag(around_approve_path(:id => @around.id), :method => "post") do %>
          <button type="submit" name="status" class="btn light-grey" onclick="return window.confirm('审核通过?');"><i class="icon-ok"></i> 审核通过</button>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>