<%= form_for(@organizer, :html => {:multipart => true}) do |f| %>
  <% if @organizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organizer.errors.count, "error") %> prohibited this organizer from being saved:</h2>

      <ul>
      <% @organizer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    名称：<%= f.text_field :name, :class => "input_1" %>
  </div>
  <div class="field">
    说明：<%= f.text_field :description, :class => "input_1" %>
  </div>
  <div class="field">
    ICON：<input type="file" name="organizer[icon]" />
  </div>
  <div class="btn_box">
    <%= f.submit "保存", :class => "btn_2" %>
  </div>
<% end %>