<%= form_for(@organizer, :html => {:multipart => true}) do |f| %>
  <% if @organizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organizer.errors.count, "error") %> prohibited this organizer from being saved:</h2>

      <ul>
      <% @organizer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="fields">
      <div class="field field-first">
        <div class="label">
          <label>名称</label>
        </div>
        <div class="input">
          <%= f.text_field :name, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>图标</label>
        </div>
        <div class="input input-file">
          <%= f.file_field :icon, { :size => "40" } %>
        </div>
      </div>
      <% if !Admin.find_by_role("OrganizerAdmin").nil? %>
      <div class="field">
        <div class="label">
          <label>管理员</label>
        </div>
        <div class="select">
          <%= f.select :admin_id, Admin.where("role = 'OrganizerAdmin'").collect{|c|[ c.email, c.id ]} %>
        </div>
      </div>
      <% end %>
      <div class="buttons">
        <input type="submit" name="submit" value="保存" />
      </div>
    </div>
  </div>

<% end %>