<script type="text/javascript" src="/javascripts/imgpreview.full.0.22.jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.screenshot').imgPreview();
  });
</script>

<div class="box">
    <div class="title">
        <h5>所有组织</h5>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                  <th>名称</th>
                  <th>Icon</th>
                  <th>活动</th>
                  <th>好评</th>
                  <th>收藏</th>
                  <th>加入日程</th>
                  <th class="last">操作</th>
                </tr>
            </thead>
            <tbody>
            <% @organizers.each do |organizer| %>
              <tr>
                <td><%= organizer.name %></td>
                <td><%= link_to "Icon", organizer.icon.url(:medium), { :class => 'screenshot', :target => "_blank" } %></td>
                <td><%= organizer.activities.length %></td>
                <td><%= organizer.activities.sum(:favorite) %></td>
                <td><%= organizer.activities.sum(:like) %></td>
                <td><%= organizer.activities.sum(:schedule) %></td>
                <td class="last">
                  <%= link_to '详情', organizer %>
                  <%= link_to '编辑', edit_organizer_path(organizer) %>
                </td>
              </tr>
            <% end %>
            </tbody>
        </table>
        <%= paginate @organizers %>
    </div>
</div>