<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @banner.title %>
</p>

<p>
  <b>Url:</b>
  <%= @banner.url %>
</p>


<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
