<% content_for :submenu do %>
  <%= render :partial => "layouts/submenu_users" %>
<% end %>

<div class="list_1">
  <div class="list_title">
    <div class="list_title_left">账号列表</div>
    <div class="list_title_right"></div>
  </div>
  <div class="tab_content">
    <table width="100%" border="1" cellpadding="0" cellspacing="0" class="table1">
      <thead>
        <tr>
          <th>序号</th>
          <th>Email</th>
          <th>UID</th>
          <th>NO</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.uid %></td>
          <td><%= user.no %></td>
          <td>
            <%= link_to '详情', user %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>