<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>No</th>
    <th>Password</th>
    <th>Password salt</th>
    <th>Uid</th>
    <th>Confirmation token</th>
    <th>Confirmed at</th>
    <th>Email</th>
    <th>Display name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.no %></td>
    <td><%= user.password %></td>
    <td><%= user.password_salt %></td>
    <td><%= user.uid %></td>
    <td><%= user.confirmation_token %></td>
    <td><%= user.confirmed_at %></td>
    <td><%= user.email %></td>
    <td><%= user.display_name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
