<% content_for :submenu do %>
  <%= render :partial => "layouts/submenu_users" %>
<% end %>
<script type="text/javascript" src="/javascripts/imgpreview.full.0.22.jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.screenshot').imgPreview();
  });
</script>
<div class="list_1">
  <div class="list_title">
    <div class="list_title_left">所有账号</div>
    <div class="list_title_right"></div>
  </div>
  <div class="tab_content">
    <table width="100%" border="1" cellpadding="0" cellspacing="0" class="table1">
      <thead>
        <tr>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>UID</th>
                <th>Token</th>
                <th>显示名</th>
                <th>确认时间</th>
                <th>Avatar</th>
                <th>操作</th>
            </tr>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.no %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.uid %></td>
          <td><%= user.authentication_token %></td>
          <td><%= user.display_name %></td>
          <td><%= user.confirmed_at %></td>
          <td>
            <%= link_to "Avatar", user.avatar.url, { :class => 'screenshot', :target => "_blank" } %>
          </td>
          <td>
            <%= link_to '详情', user %>
            <%= link_to '激活', :action => "confirmation", :controller => "users", :token => user.confirmation_token %>
            <%= link_to '重置密码', :action => "reset_password", :controller => "users", :token => user.confirmation_token %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>