<%= form_for(@sele_course) do |f| %>
  <% if @sele_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sele_course.errors.count, "error") %> prohibited this sele_course from being saved:</h2>

      <ul>
      <% @sele_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_no %><br />
    <%= f.text_field :student_no %>
  </div>
  <div class="field">
    <%= f.label :course_no %><br />
    <%= f.text_field :course_no %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br />
    <%= f.text_field :teacher %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :week_type %><br />
    <%= f.text_field :week_type %>
  </div>
  <div class="field">
    <%= f.label :week_day %><br />
    <%= f.text_field :week_day %>
  </div>
  <div class="field">
    <%= f.label :section_start %><br />
    <%= f.text_field :section_start %>
  </div>
  <div class="field">
    <%= f.label :section_end %><br />
    <%= f.text_field :section_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
