<div class="box">
    <div class="title">
        <h5>所有选课</h5>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                  <th>学号</th>
                  <th>课号</th>
                  <th>教师</th>
                  <th>周</th>
                  <th>天</th>
                  <th>跨度（节）</th>
                  <th>地点</th>
                  <th class="last">开始和结束</th>
                </tr>
            </thead>
            <tbody>
              <% @sele_courses.each do |sele_course| %>
              <tr>
                  <td><%= sele_course.student_no %></td>
                  <td><%= sele_course.course_no %></td>
                  <td><%= sele_course.teacher %></td>
                  <td><%= sele_course.week_type %></td>
                  <td><%= sele_course.week_day %></td>
                  <td><%= sele_course.section_start %>～<%= sele_course.section_end %></td>
                  <td><%= sele_course.location %></td>
                  <td class="last"><%= sele_course.begin.strftime("%Y/%m/%d") %>～<%= sele_course.end.strftime("%Y/%m/%d") %></td>
              </tr>
              <% end %>
            </tbody>
        </table>
        <%= paginate @sele_courses %>
    </div>
</div>