<p id="notice"><%= notice %></p>

<p>
  <b>Student no:</b>
  <%= @sele_course.student_no %>
</p>

<p>
  <b>Course no:</b>
  <%= @sele_course.course_no %>
</p>

<p>
  <b>Teacher:</b>
  <%= @sele_course.teacher %>
</p>

<p>
  <b>Location:</b>
  <%= @sele_course.location %>
</p>

<p>
  <b>Week type:</b>
  <%= @sele_course.week_type %>
</p>

<p>
  <b>Week day:</b>
  <%= @sele_course.week_day %>
</p>

<p>
  <b>Section start:</b>
  <%= @sele_course.section_start %>
</p>

<p>
  <b>Section end:</b>
  <%= @sele_course.section_end %>
</p>


<%= link_to 'Edit', edit_sele_course_path(@sele_course) %> |
<%= link_to 'Back', sele_courses_path %>
