<%= form_for(@advertisement, :html => {:multipart => true, :class => 'form-horizontal'}) do |f| %>
  <% if @advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

      <ul>
      <% @advertisement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
      <div class="span12">
          <div class="control-group">
              <label class="control-label">标题</label>
              <div class="controls">
                <%= f.text_field :title, { :class => "m-wrap span12" } %>
              </div>
          </div>
      </div>
  </div>

  <div class="row-fluid">
      <div class="span12">
          <div class="control-group">
              <label class="control-label">网址</label>
              <div class="controls">
                <%= f.text_field :url, { :class => "m-wrap span12" } %>
              </div>
          </div>
      </div>
  </div>

  <div class="row-fluid">
      <div class="span12">
          <div class="control-group">
              <label class="control-label">发布者</label>
              <div class="controls">
                <%= f.text_field :publisher, { :class => "m-wrap span12" } %>
              </div>
          </div>
      </div>
  </div>

  <div class="row-fluid">
      <div class="span12">
          <div class="control-group">
              <label class="control-label">图片(300K,jpeg)</label>
              <div class="controls">
                  <%= f.file_field :image, { :class => "small" } %>
              </div>
          </div>
      </div>
  </div>

  <div class="form-actions">
      <button type="submit" class="btn light-grey"><i class="icon-ok"></i> 保存</button>
  </div>
<% end %>