<%= form_for(@advertisement) do |f| %>
  <% if @advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

      <ul>
      <% @advertisement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="fields">
      <div class="field field-first">
        <div class="label">
          <label>标题</label>
        </div>
        <div class="input">
          <%= f.text_field :title, { :class => "large" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>网址</label>
        </div>
        <div class="input">
          <%= f.text_field :url, { :class => "large" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>题图(300K以内,jpeg格式)</label>
        </div>
        <div class="input input-file">
          <%= f.file_field :image, { :size => "40" } %>
        </div>
      </div>
      <div class="buttons">
        <input type="submit" name="submit" value="保存" />
      </div>
    </div>
  </div>
<% end %>