<% @title = "广告" %>
<% @description = "置顶广告" %>
<% @controller = "广告" %>
<% @action = "广告详情" %>

<div class="portlet box light-grey">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>广告</div>
    </div>
    <div class="portlet-body form">

      <div class="form-horizontal form-view">
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label">标题</label>
                    <div class="controls">
                      <span class="text">
                        <%= @advertisement.title %>
                      </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label">网址</label>
                    <div class="controls">
                      <span class="text">
                      <%= @advertisement.url %>
                      </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">发布时间</label>
                    <div class="controls">
                      <span class="text">
                      <%= @advertisement.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                    </span>
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="control-group">
                    <label class="control-label">阅读次数</label>
                    <div class="controls">
                      <span class="text">
                      <%= @advertisement.read %>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label">图片</label>
                    <div class="controls">
                      <span class="text">
                        <%= image_tag @advertisement.image.url %>
                      </span>
                    </div>
                </div>
            </div>
        </div>
        
      </div>
    </div>
</div>