<div class="box">
    <div class="title">
        <h5>查看广告</h5>
    </div>
    <div class="table">
        <table>
          <tr>
            <td>标题</td>
            <td class="last"><%= @advertisement.title %></td>
          </tr>
          <tr>
            <td>发布时间</td>
            <td class="last"><%= @advertisement.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          </tr>
          <tr>
            <td>网址</td>
            <td class="last"><%= @advertisement.url %></td>
          </tr>
          <tr>
            <td>阅读次数</td>
            <td class="last"><%= @advertisement.read %></td>
          </tr>
          <tr>
            <td>图片</td>
            <td class="last"><%= image_tag @advertisement.image.url %></td>
          </tr>
        </table>
    </div>
</div>

