<script type="text/javascript">
$(document).ready(function () {
    <% all = News.find_by_sql("select count(id) count, date_format(`created_at`,'%y%m%d') sdate from `news` where `created_at` between adddate(now(),-15) and now() group by sdate") %>
    var news = [
    <% all.each do |item| %>
    [<%= Time.parse(item["sdate"]).to_i * 1000 + 28800000 %>,<%= item["count"] %>],
    <% end %>
    ];
    <% active = Activity.find_by_sql("select count(id) count, date_format(`created_at`,'%y%m%d') sdate from `activities` where `created_at` between adddate(now(),-15) and now() group by sdate") %>
    var activity = [
    <% active.each do |item| %>
    [<%= Time.parse(item["sdate"]).to_i * 1000 + 28800000 %>,<%= item["count"] %>],
    <% end %>
    ];
    var plot = $.plot($("#placeholder_news"), [
		{ label: "新闻", data: news },
		{ label: "活动", data: activity }
	], {
		lines: {
			show: true
		},
		points: {
			show: true
		},
		grid: {
			backgroundColor: '#fffaff',
			hoverable: true,
			clickable: true
		},
		legend: {
			show: true
		},
        xaxis: {
            mode: "time",
            timeformat: "%0m%0d"
        },
        yaxis: {
            tickDecimals: 0
        }
	});

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css({
            position: 'absolute',
            display: 'none',
            top: y + -36,
            left: x + -6,
            border: '1px solid #fdd',
            padding: '4px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;

    $("#placeholder_news").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;

                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);

                showTooltip(item.pageX, item.pageY, Math.round(y) + " " + item.series.label);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }
    });
});
</script>

<div class="title">
    <h5>新闻/活动情况(近15天)</h5>
    <ul class="links">
        <li><%= link_to "新闻", news_index_path %></li>
        <li><%= link_to "活动", activities_path %></li>
    </ul>
</div>
<!-- end box / title -->
<div class="sales">
    <div class="legend">
        <h6>新闻/活动情况(近15天)-合计:新闻<%= News.all.count %>/活动<%= Activity.all.count %></h6>
    </div>
    <div id="placeholder_news" style="width:auto; height:200px;"></div>
</div>
