<h1>Listing events</h1>

<table>
  <tr>
    <th>User</th>
    <th>Begin</th>
    <th>End</th>
    <th>Title</th>
    <th>Location</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.user_id %></td>
    <td><%= event.begin %></td>
    <td><%= event.end %></td>
    <td><%= event.title %></td>
    <td><%= event.location %></td>
    <td><%= event.description %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
