<% content_for :submenu do %>
  <%= render :partial => "layouts/submenu_news" %>
<% end %>


<div class="list_1">
  <div class="list_title">
    <div class="list_title_left">查看新闻</div>
    <div class="list_title_right"></div>
  </div>
  <div class="tab_content">
    <table width="100%" border="1" cellpadding="0" cellspacing="0" class="table1">
      <tr>
      	<td>标题：</td>
        <td><%= @news.title %></td>
      </tr>
      <tr>
      	<td>发布时间：</td>
        <td><%= @news.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
      <tr>
    	  <td>类别：</td>
        <td><%= @news.category %></td>
      </tr>
      <tr>
      	<td>阅读次数：</td>
      	<td><%= @news.read %></td>
      </tr>
      <tr>
      	<td colspan="2"><%= raw @news.context %></td>
      </tr>
    </table>
  </div>
</div>

