<h1>Listing for_staffs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Source</th>
    <th>Summary</th>
    <th>Context</th>
    <th>Read</th>
    <th>Like</th>
    <th>Favorite</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @for_staffs.each do |for_staff| %>
  <tr>
    <td><%= for_staff.title %></td>
    <td><%= for_staff.source %></td>
    <td><%= for_staff.summary %></td>
    <td><%= for_staff.context %></td>
    <td><%= for_staff.read %></td>
    <td><%= for_staff.like %></td>
    <td><%= for_staff.favorite %></td>
    <td><%= for_staff.admin_id %></td>
    <td><%= link_to 'Show', for_staff %></td>
    <td><%= link_to 'Edit', edit_for_staff_path(for_staff) %></td>
    <td><%= link_to 'Destroy', for_staff, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New For staff', new_for_staff_path %>
