<div class="box">
    <div class="title">
        <h5>查看资讯</h5>
    </div>
    <div class="table">
        <table>
          <tr>
            <td>标题</td>
            <td class="last"><%= @for_staff.title %></td>
          </tr>
          <tr>
            <td>来源</td>
            <td class="last"><%= @for_staff.source %></td>
          </tr>
          <tr>
            <td>发布时间</td>
            <td class="last"><%= @for_staff.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          </tr>
          <tr>
            <td>关注度</td>
            <td class="last"><%= UserLike.get_count('Information', @for_staff.id) %></td>
          </tr>
          <tr>
            <td>摘要</td>
            <td class="last"><%= @for_staff.summary %></td>
          </tr>
          <tr>
            <td>内容</td>
            <td class="last"><%= @for_staff.context %></td>
          </tr>
          <% @for_staff.information_images.each do |image| %>
          <tr>
            <td>图片</td>
            <td class="last"><%= image_tag image.file.url(:medium) %></td>
          </tr>
          <% end %>
          <tr>
            <td>是否可见</td>
            <td class="last"><%= @for_staff.visiable ? "可见" : "不可见" %></td>
          </tr>
          <% if @for_staff.is_pending %>
          <tr>
            <td>原因</td>
            <td class="last">需要审核,原因:<%= @for_staff.pending_reason %></td>
          </tr>
          <% end %>
        </table>
        <% if @for_staff.is_pending && (can? :approve, @for_staff) %>
        <%= form_tag(for_staff_approve_path(:id => @for_staff.id), :method => "post") do %>
        <div class="action">
          <div class="button">
            <input type="submit" name="status" onclick="return window.confirm('审核通过?');" value="审核通过" />
          </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>

