<div class="box">
    <div class="title">
        <h5>所有版本</h5>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                  <th>当前版本</th>
                  <th>最新版本</th>
                  <th>最新App地址</th>
                  <th class="last">操作</th>
                </tr>
            </thead>
            <tbody>
              <% @versions.each do |item| %>
              <tr>
                  <td><%= item.current %></td>
                  <td><%= item.latest %></td>
                  <td><%= item.url %></td>
                  <td class="last">
                      <%= link_to '详情', item %>
                      <%= link_to '编辑', edit_version_path(item) %>
                      <%= link_to '删除', item, confirm: '确认删除?', method: :delete %>
                  </td>
              </tr>
              <% end %>
            </tbody>
        </table>
    </div>
</div>
