<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organizer_register.name %>
</p>

<p>
  <b>Account:</b>
  <%= @organizer_register.account %>
</p>

<p>
  <b>Password:</b>
  <%= @organizer_register.password %>
</p>

<p>
  <b>Person in charge:</b>
  <%= @organizer_register.person_in_charge %>
</p>

<p>
  <b>Job title:</b>
  <%= @organizer_register.job_title %>
</p>

<p>
  <b>Cell:</b>
  <%= @organizer_register.cell %>
</p>

<p>
  <b>Email:</b>
  <%= @organizer_register.email %>
</p>

<p>
  <b>Address:</b>
  <%= @organizer_register.address %>
</p>

<p>
  <b>Approved at:</b>
  <%= @organizer_register.approved_at %>
</p>


<%= link_to 'Edit', edit_organizer_register_path(@organizer_register) %> |
<%= link_to 'Back', organizer_registers_path %>
