<h1>Listing courses</h1>

<table>
  <tr>
    <th>No</th>
    <th>Name</th>
    <th>Teacher</th>
    <th>Point</th>
    <th>Type</th>
    <th>Hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.no %></td>
    <td><%= course.name %></td>
    <td><%= course.teacher %></td>
    <td><%= course.point %></td>
    <td><%= course.type %></td>
    <td><%= course.hours %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
