<p id="notice"><%= notice %></p>

<p>
  <b>No:</b>
  <%= @course.no %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Teacher:</b>
  <%= @course.teacher %>
</p>

<p>
  <b>Point:</b>
  <%= @course.point %>
</p>

<p>
  <b>Type:</b>
  <%= @course.type %>
</p>

<p>
  <b>Hours:</b>
  <%= @course.hours %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
