<%= form_for(@activity, :html => {:multipart => true}) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    开始：<%= f.datetime_select :begin %>
  </div>
  <div class="field">
    结束：<%= f.datetime_select :end %>
  </div>
  <div class="field">
    标题：<%= f.text_field :title, :class => "input_1" %>
  </div>
  <div class="field">
    频道：<%= f.select :channel_id, Channel.all.collect{|c|[ c.title, c.id ]} %>
  </div>
  <div class="field">
    地点：<%= f.text_field :location, :class => "input_1" %>
  </div>
  <div class="field">
    组织：<%= f.select :organizer_id, Organizer.accessible_by(current_ability, :read).collect{|c|[ c.name, c.id ]} %>
  </div>
  <div class="field">
    状态：<%= f.text_field :status, :class => "input_1" %>
  </div>
  <div class="field">
    图片：<input type="file" name="activity[image]" class="input_1" />
  </div>
  <div class="field">
    说明：<%= f.text_area :description, :rows => 40, :cols => 100 %>
  </div>
  <div class="btn_box">
    <%= f.submit "保存", :class => "btn_2" %>
  </div>
<% end %>