<link rel="stylesheet" href="/stylesheets/jquery-ui-timepicker-addon.css" type="text/css"/>
<link rel="stylesheet" href="/stylesheets/jquery-ui-1.8.20.custom.css" type="text/css"/>
<script type="text/javascript" src="/javascripts/jquery-ui-1.8.20.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-timepicker-zh-CN.js"></script>

<%= form_for(@activity, :html => {:multipart => true}) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form">
    <div class="fields">
      <div class="field field-first">
        <div class="label">
          <label>开始</label>
        </div>
        <div class="input">
          <%= f.text_field :begin, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>结束</label>
        </div>
        <div class="input input-file">
          <%= f.text_field :end, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>标题</label>
        </div>
        <div class="input input-file">
          <%= f.text_field :title, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>频道</label>
        </div>
        <div class="select">
          <%= f.select :channel_id, Channel.all.collect{|c|[ c.title, c.id ]} %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>地点</label>
        </div>
        <div class="input input-file">
          <%= f.text_field :location, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>组织</label>
        </div>
        <div class="select">
          <%= f.select :organizer_id, Organizer.accessible_by(current_ability, :read).collect{|c|[ c.name, c.id ]} %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>状态</label>
        </div>
        <div class="input input-file">
          <%= f.text_field :status, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>图片</label>
        </div>
        <div class="input input-file">
          <%= f.file_field :image, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label label-textarea">
          <label>说明</label>
        </div>
        <div class="textarea">
          <%= f.text_area :description, :rows => 8, :cols => 50 %>
        </div>
      </div>

      <div class="buttons">
        <input type="submit" name="submit" value="保存" />
      </div>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $('#activity_begin').datetimepicker({
      timeFormat: 'hh:mm:ss',
      dateFormat: 'yy-mm-dd',
  });
  $('#activity_end').datetimepicker({
      timeFormat: 'hh:mm:ss',
      dateFormat: 'yy-mm-dd',
  });
</script>