<%= form_for(@activity, :html => {:multipart => true}) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form">
    <div class="fields">
      <div class="field field-first">
        <div class="label">
          <label>日期</label>
        </div>
        <div class="input">
          <input type="text" id="activity_day" name="date[day]" class="date" value="<%= get_day(@activity) %>" />
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>时间</label>
        </div>
        <div class="input input-file">
          <input type="text" name="date[begin_time]" size="12" value="<%= get_begin_time(@activity) %>" />至
          <input type="text" name="date[end_time]" size="12" value="<%= get_end_time(@activity) %>" />格式(08:30)
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>标题</label>
        </div>
        <div class="input input-file">
          <%= f.text_field :title, { :class => "large" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>频道</label>
        </div>
        <div class="select">
          <%= f.select :channel_id, Channel.all.collect{|c|[ c.title, c.id ]} %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>地点</label>
        </div>
        <div class="input input-file">
          <%= f.text_field :location, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>状态</label>
        </div>
        <div class="input input-file">
          <%= f.text_field :status, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>图片(300K以内,jpeg格式)</label>
        </div>
        <div class="input input-file">
          <%= f.file_field :image, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label label-textarea">
          <label>说明</label>
        </div>
        <div class="textarea">
          <%= f.text_area :description, :rows => 8, :cols => 50 %>
        </div>
      </div>

      <div class="buttons">
        <input type="submit" name="submit" value="保存" />
      </div>
    </div>
  </div>
</div>
<% end %>