<%= form_for(@activity, :html => {:multipart => true}) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form">
    <div class="fields">
      <div class="field field-first">
        <div class="label">
          <label>日期</label>
        </div>
        <div class="input">
          <input type="text" id="activity_day" name="date[day]" class="date" value="<%= get_day(@activity) %>" />
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>时间</label>
        </div>
        <div class="select">
          <select name="date[begin_hour]">
            <% (8..21).each do |item| %>
            <option value="<%= '%02.0f' % item %>" <%= '%02.0f' % item == get_begin_hour(@activity) ? 'selected' : '' %>><%= '%02.0f' % item %></option>
            <% end %>
          </select>点<select name="date[begin_minute]">
            <% 0.step(55,5).each do |item| %>
            <option value="<%= '%02.0f' % item %>" <%= '%02.0f' % item == get_begin_minute(@activity) ? 'selected' : '' %>><%= '%02.0f' % item %></option>
            <% end %>
          </select>分--<select name="date[end_hour]">
            <% (8..21).each do |item| %>
            <option value="<%= '%02.0f' % item %>" <%= '%02.0f' % item == get_end_hour(@activity) ? 'selected' : '' %>><%= '%02.0f' % item %></option>
            <% end %>
          </select>点<select name="date[end_minute]">
            <% 0.step(55,5).each do |item| %>
            <option value="<%= '%02.0f' % item %>" <%= '%02.0f' % item == get_end_minute(@activity) ? 'selected' : '' %>><%= '%02.0f' % item %></option>
            <% end %>
          </select>分
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>标题</label>
        </div>
        <div class="input input-file">
          <%= f.text_field :title, { :class => "large" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>频道</label>
        </div>
        <div class="select">
          <%= f.select :channel_id, Channel.all.collect{|c|[ c.title, c.id ]} %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>地点</label>
        </div>
        <div class="input input-file">
          <%= f.text_field :location, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>状态</label>
        </div>
        <div class="input input-file">
          <%= f.text_field :status, { :class => "small" } %><%= f.text_field :status, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label">
          <label>图片(300K以内,jpeg格式)</label>
        </div>
        <div class="input input-file">
          <%= f.file_field :image, { :class => "small" } %>
        </div>
      </div>
      <div class="field">
        <div class="label label-textarea">
          <label>说明</label>
        </div>
        <div class="textarea">
          <%= f.text_area :description, :rows => 8, :cols => 50 %>
        </div>
      </div>

      <div class="buttons">
        <input type="submit" name="submit" value="保存" />
      </div>
    </div>
  </div>
</div>
<% end %>