<% content_for :submenu do %>
  <%= render :partial => "layouts/submenu_activities" %>
<% end %>

<div class="list_1">
  <div class="list_title">
    <div class="list_title_left">所有活动</div>
    <div class="list_title_right"></div>
  </div>
  <div class="tab_content">
    <table width="100%" border="1" cellpadding="0" cellspacing="0" class="table1">
      <thead>
        <tr>
            <tr>
                <th>组织(承办)</th>
                <th>起止时间</th>
                <th>标题</th>
                <th>位置</th>
                <th>关注度</th>
                <th>+1</th>
                <th>参与度</th>
                <th>操作</th>
            </tr>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |activity| %>
        <tr>
            <td><%= activity.organizer.name %>(<%= activity.sub_organizer.name %>)</td>
            <td><%= activity.begin.strftime("%Y/%m/%d %H:%M:%S") %>~<%= activity.end.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%= activity.title %></td>
            <td><%= activity.location %></td>
            <td><%= activity.favorite %></td>
            <td><%= activity.like %></td>
            <td><%= activity.schedule %></td>
            <td>
                <%= link_to '详情', activity %>
                <%= link_to '编辑', edit_activity_path(activity) %>
                <%= link_to '删除', activity, confirm: '确认删除?', method: :delete %>
            </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>