<div class="box">
    <div class="title">
        <h5>查看活动</h5>
    </div>
    <div class="table">
        <table>
          <tr>
            <td>组织</td>
            <td class="last"><%= @activity.organizer.name %></td>
          </tr>
          <tr>
            <td>起止时间</td>
            <td class="last"><%= @activity.begin.strftime("%Y/%m/%d %H:%M:%S") %>~<%= @activity.end.strftime("%Y/%m/%d %H:%M:%S") %></td>
          </tr>
          <tr>
            <td>标题</td>
            <td class="last"><%= @activity.title %></td>
          </tr>
          <tr>
            <td>位置</td>
            <td class="last"><%= @activity.location %></td>
          </tr>
          <tr>
            <td>关注度</td>
            <td class="last"><%= @activity.favorite %></td>
          </tr>
          <tr>
            <td>标题</td>
            <td class="last"><%= @activity.like %></td>
          </tr>
          <tr>
            <td>加入日程数</td>
            <td class="last"><%= @activity.schedule %></td>
          </tr>
          <tr>
            <td>内容</td>
            <td class="last"><%= @activity.description %></td>
          </tr>
          <tr>
            <td>图片</td>
            <td class="last"><%= image_tag @activity.image.url %></td>
          </tr>
          <tr>
            <td>是否可见</td>
            <td class="last"><%= @activity.visiable ? "可见" : "不可见" %></td>
          </tr>
          <% if @activity.is_pending %>
          <tr>
            <td>原因</td>
            <td class="last">需要审核,原因:<%= @activity.pending_reason %></td>
          </tr>
          <% end %>
        </table>
    </div>
</div>