<div class="box">
    <div class="title">
        <h5>所有考试</h5>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                  <th>学号</th>
                  <th>课号</th>
                  <th>开始~结束</th>
                  <th class="last">考场</th>
                </tr>
            </thead>
            <tbody>
              <% @exams.each do |exam| %>
              <tr>
                  <td><%= exam.student_no %></td>
                  <td><%= exam.course_no %></td>
                  <td><%= exam.begin.strftime("%Y/%m/%d %H:%M:%S") %>~<%= exam.end.strftime("%Y/%m/%d %H:%M:%S") %></td>
                  <td class="last"><%= exam.location %></td>
              </tr>
              <% end %>
            </tbody>
        </table>
        <%= paginate @exams %>
    </div>
</div>
