<p id="notice"><%= notice %></p>

<p>
  <b>Student no:</b>
  <%= @exam.student_no %>
</p>

<p>
  <b>Course no:</b>
  <%= @exam.course_no %>
</p>

<p>
  <b>Begin:</b>
  <%= @exam.begin %>
</p>

<p>
  <b>End:</b>
  <%= @exam.end %>
</p>

<p>
  <b>Location:</b>
  <%= @exam.location %>
</p>


<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
