<ul>
	<li class="<%= @menu == nil ? 'current' : '' %>"><%= link_to "控制台", home_index_path %></li>
	<li class="<%= @menu == 'channels' ? 'current' : '' %>"><%= link_to "频道", channels_path %></li>
	<li class="<%= @menu == 'activities' ? 'current' : '' %>"><%= link_to "活动", activities_path %></li>
	<li class="<%= @menu == 'organizers' ? 'current' : '' %>"><%= link_to "组织", organizers_path %></li>		
	<li class="<%= @menu == 'news' ? 'current' : '' %>"><%= link_to "新闻", news_index_path %></li>
	<li class="<%= @menu == 'users' ? 'current' : '' %>"><%= link_to "用户", users_path %></li>
	<li class="<%= @menu == 'students' ? 'current' : '' %>"><%= link_to "学生", students_path %></li>
	<li class="<%= @menu == 'courses' ? 'current' : '' %>"><%= link_to "课程", courses_path %></li>
	<li class="<%= @menu == 'sele_courses' ? 'current' : '' %>"><%= link_to "选课", sele_courses_path %></li>
	<li class="<%= @menu == 'admins' ? 'current' : '' %>"><%= link_to "账户", admins_path %></li>
</ul>