<% if can? :read, Activity %>
<li>
	<%= link_to activities_path, { :title => "活动" } do %>
	<span class="icon"><img src="/images/icons/application_double.png" alt="活动" /></span><span>活动</span>
	<% end %>
	<ul>
		<li><%= link_to "所有活动", activities_path %></li>
		<li class="last"><%= link_to "创建活动", new_activity_path %></li>
	</ul>
</li>
<% end %>

<% if can? :manage, News %>
<li>
	<%= link_to news_index_path, { :title => "新闻" } do %>
	<span class="icon"><img src="/images/icons/application_double.png" alt="新闻" /></span><span>新闻</span>
	<% end %>
	<ul>
		<li><%= link_to "所有新闻", news_index_path %></li>
		<li class="last"><%= link_to "创建新闻", new_news_path %></li>
	</ul>
</li>
<% end %>

<% if can? :manage, Information %>
<li>
	<a href="#" title="资讯">
	<span class="icon"><img src="/images/icons/application_double.png" alt="资讯" /></span><span>资讯</span>
	</a>
	<ul>
		<li><%= link_to "所有资讯", information_index_path %></li>
		<li class="last"><%= link_to "创建资讯", new_information_path %></li>
		<% if can? :manage, SchoolNews %>
		<li><%= link_to "所有校园新闻", school_news_index_path %></li>
		<li class="last"><%= link_to "创建校园新闻", new_school_news_path %></li>
		<% end %>
		<% if can? :manage, ClubNews %>
		<li><%= link_to "所有团体通告", club_news_index_path %></li>
		<li class="last"><%= link_to "创建团体通告", new_club_news_path %></li>
		<% end %>
		<% if can? :manage, ForStaff %>
		<li><%= link_to "所有校务信息", for_staffs_path %></li>
		<li class="last"><%= link_to "创建校务信息", new_for_staff_path %></li>
		<% end %>
		<% if can? :manage, Around %>
		<li><%= link_to "所有周边推荐", arounds_path %></li>
		<li class="last"><%= link_to "创建周边推荐", new_around_path %></li>
		<% end %>
	</ul>
</li>
<% end %>



<% if can? :manage, Person %>
<li>
	<%= link_to people_path, { :title => "济人" } do %>
	<span class="icon"><img src="/images/icons/application_double.png" alt="济人" /></span><span>济人</span>
	<% end %>
	<ul>
		<li><%= link_to "所有济人", people_path %></li>
		<li class="last"><%= link_to "创建济人", new_person_path %></li>
	</ul>
</li>
<% end %>

<% if can? :manage, User %>
<li>
	<%= link_to users_path, { :title => "用户" } do %>
	<span class="icon"><img src="/images/icons/application_double.png" alt="用户" /></span><span>用户</span>
	<% end %>
	<ul>
		<li><%= link_to "所有用户", users_path %></li>
		<li class="last"><%= link_to "未激活用户", users_path(:type => "unconfirmed") %></li>
	</ul>
</li>
<% end %>

<% if can? :manage, Admin %>
<li>
	<a title="设置" href="#">
		<span class="icon"><img src="/images/icons/application_double.png" alt="设置" /></span><span>设置</span>
	</a>
	<ul>
		<li><%= link_to "所有账号", admins_path %></li>
		<li><%= link_to "创建版本更新", new_version_path %></li>
		<li><%= link_to "所有版本更新", versions_path %></li>
		<li><%= link_to "所有学生", students_path %></li>
		<li><%= link_to "导入学生信息", students_upload_path %></li>
		<li><%= link_to "所有课程", courses_path %></li>
		<li><%= link_to "导入课程信息", courses_upload_path %></li>
		<li><%= link_to "所有选课", sele_courses_path %></li>
		<li><%= link_to "导入选课信息", sele_courses_upload_path %></li>
		<li><%= link_to "创建频道", new_channel_path %></li>
		<li><%= link_to "所有频道", channels_path %></li>
		<li class="last"><%= link_to "敏感词列表", sensitives_path %></li>
	</ul>
</li>
<% end %>