<!-- BEGIN SIDEBAR MENU -->        
<ul class="page-sidebar-menu">
	<li class="start active">
		<a href="/dashboard">
			<i class="icon-home"></i> 
			<span class="title">控制台</span>
			<span class="selected"></span>
		</a>
	</li>
	<li>
		<a href="javascript:;">
			<i class="icon-cogs"></i> 
			<span class="title">活动</span>
			<span class="arrow "></span>
		</a>
		<ul class="sub-menu">
			<li><%= link_to "所有活动", activities_path %></li>
			<li><%= link_to "创建活动", new_activity_path %></li>
		</ul>
	</li>
	<li>
		<a href="javascript:;">
			<i class="icon-bookmark-empty"></i> 
			<span class="title">广告</span>
			<span class="arrow "></span>
		</a>
		<ul class="sub-menu">
			<li><%= link_to "所有广告", advertisements_path %></li>
			<li><%= link_to "创建广告", new_advertisement_path %></li>
		</ul>
	</li>
	<li>
		<a href="javascript:;">
			<i class="icon-bookmark-empty"></i> 
			<span class="title">用户</span>
			<span class="arrow "></span>
		</a>
		<ul class="sub-menu">
			<li><%= link_to "所有用户", users_path %></li>
		</ul>
	</li>
	<li class="last">
		<a href="javascript:;">
			<i class="icon-table"></i> 
			<span class="title">管理</span>
			<span class="arrow "></span>
		</a>
		<ul class="sub-menu">
			<li><%= link_to "管理员账号", admins_path %></li>
		</ul>
	</li>
</ul>
<!-- END SIDEBAR MENU -->