<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>微同济服务器端管理系统</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="header">
  			<div class="logo">LOGO</div>
  			<div class="header_right">
  				<a href="#">教程</a>&nbsp;&nbsp;&nbsp;
  				<a href="#">帮助</a>&nbsp;&nbsp;&nbsp;
  				<% if admin_signed_in? %>
  				<%= link_to current_admin.email, '' %>
					<%= link_to "注销", destroy_admin_session_path, :method => :delete %>
					<% else %>
					<%= link_to "登陆", new_admin_session_path %>
		  		<% end %>
  			</div>
		</div>
		<div id="nav">
			<%= render :partial => "layouts/menu" %>
		</div>
		<div class="subnav">
			<%= yield :submenu %>
		</div>
		<div class="box">
			<%= yield %>
		</div>
		<div id="footer">
  			<div class="groupone">
	    		<p><font class="gray_color"><strong>关于微同济</strong></font></p>
	    		<p>关于微同济。关于微同济。关于微同济。关于微同济。关于微同济。关于微同济。关于微同济。关于微同济。关于微同济。</p>
  			</div>
  			<div class="grouptwo">
    			<p><font class="gray_color"><strong>资源</strong></font></p>
    			<p>
    				<a href="#">支持与帮助</a><br />
	      			<a href="#">使用条款</a><br />
	      			<a href="#">关于我们</a><br />
	      			<a href="#">联系我们</a><br />
    			</p>
  			</div>
  			<div class="grouthree">
    			<p><font class="gray_color"><strong>这里是测试啊</strong></font></p>
    			<p>你可以使用我们的测试系统实验一下...</p>
    			<div class="btn_1"><a href="#">演示</a></div>
  			</div>
		</div>
	</body>
</html>