<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>微同济服务器端管理系统</title>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
    <link id="color" rel="stylesheet" type="text/css" href="/stylesheets/colors/blue.css" />
    <!-- scripts (jquery) -->
    <script src="/javascripts/jquery-1.6.4.min.js" type="text/javascript"></script>
    <!--[if IE]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.min.js"></script><![endif]-->
    <script src="/javascripts/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.ui.selectmenu.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.flot.min.js" type="text/javascript"></script>
    <script src="/javascripts/tiny_mce/tiny_mce.js" type="text/javascript"></script>
    <script src="/javascripts/tiny_mce/jquery.tinymce.js" type="text/javascript"></script>
    <!-- scripts (custom) -->
    <script src="/javascripts/smooth.js" type="text/javascript"></script>
    <script src="/javascripts/smooth.menu.js" type="text/javascript"></script>
    <!--<script src="/javascripts/smooth.chart.js" type="text/javascript"></script>-->
    <script src="/javascripts/smooth.table.js" type="text/javascript"></script>
    <script src="/javascripts/smooth.form.js" type="text/javascript"></script>
    <script src="/javascripts/smooth.dialog.js" type="text/javascript"></script>
    <script src="/javascripts/smooth.autocomplete.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        style_path = "/stylesheets/colors";

        $("#date-picker").datepicker();

        $("#box-tabs, #box-left-tabs").tabs();
      });
    </script>
	</head>
	<body>
		<!-- header -->
    <div id="header">
      <!-- logo -->
      <div id="logo">
        <h1><a href="/admin" title="野兽派花店管理后台"><img src="/images/logo.png" alt="微同济管理后台" /></a></h1>
      </div>
      <!-- end logo -->
      <!-- user -->
			<ul id="user">
				<li class="first"><%= current_admin.email %></li>
				<li class="highlight last"><%= link_to "注销", destroy_admin_session_path, :method => :delete %></li>
			</ul>
      <!-- end user -->
      <div id="header-inner">
        <div id="home">
          <a href="/admin" title="Home"></a>
        </div>
        <!-- quick -->
        <ul id="quick">
          <%= render "layouts/dashboard_menu" %>
        </ul>
        <!-- end quick -->
        <div class="corner tl"></div>
        <div class="corner tr"></div>
      </div>
    </div>
    <!-- end header -->
    <!-- content -->
    <div id="content">
      <!-- end content / left -->
      <div id="left">
        <div id="menu">
          <%= yield :submenu %>
        </div>
      </div>
      <!-- end content / left -->
      <!-- content / right -->
      <div id="right">
        <%= yield %>
      </div>
      <!-- end content / right -->
    </div>
    <!-- end content -->
    <!-- footer -->
    <div id="footer">
      <p>Copyright &copy; 2012-2013 WETONGJI. All Rights Reserved.</p>
    </div>
    <!-- end footert -->
	</body>
</html>