<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>微同济服务器端管理系统</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<div class="subnav">
	  <ul>
	    <li><a href="/">首页</a></li>
	    <li><a href="/">账户</a></li>
	    <li><a href="/">频道</a></li>
	    <li><a href="/">课程</a></li>
	    <li><a href="/">活动</a></li>
	    <li>
			<% if admin_signed_in? %>
				<%= link_to "注销", destroy_admin_session_path, :method => :delete %>
			<% else %>
				<%= link_to "登陆", new_admin_session_path %>
		  	<% end %>
		</li>
	  </ul>
	</div>
	<%= yield %>
</html>